In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
#loading dataset
url = 'https://raw.githubusercontent.com/MAliHasnain/Insurance_data_Prediction/main/insurance.csv'
df = pd.read_csv(url)
df.head()

   age     sex     bmi  children smoker     region  medicalCost
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
#getting information of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          1338 non-null   int64
 1   sex          1338 non-null   object
 2   bmi          1338 non-null   float64
 3   children     1338 non-null   int64
 4   smoker       1338 non-null   object
 5   region       1338 non-null   object
 6   medicalCost  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
# Encoding categorical variables
df['sex'] = df['sex'].map({'female': 0, 'male': 1})
df['smoker'] = df['smoker'].map({'no': 0, 'yes': 1})
df = pd.get_dummies(df, columns=['region'])

# Calculating correlation coefficients
correlation_coefficients = df[['age', 'sex', 'bmi', 'children', 'smoker', 'medicalCost']].corr()

# Merging region correlations
region_correlations = correlation_coefficients.filter(like='region_')
merged_region_correlation = region_correlations.sum(axis=1)

# Updating correlation coefficients
correlation_coefficients['region'] = merged_region_correlation

# Displaying correlation coefficients
print(correlation_coefficients['medicalCost'])

age            0.299008
sex            0.057292
bmi            0.198341
children       0.067998
smoker         0.787251
medicalCost    1.000000
Name: medicalCost, dtype: float64

In [5]:
# Selecting the top three predictors
top_predictors = correlation_coefficients['medicalCost'].abs().nlargest(4).index[1:]
top_predictors

Index(['smoker', 'age', 'bmi'], dtype='object')